<p></p>

<!-- Observable play -->
<!--
<div class="row">
  <div class="col-sm-1">Observables:</div>
  <div class="col-sm-11">
    {{_persistenceSvc.observableItem | async}}
<!--
    <ul>
      <li *ngFor="let item of _persistenceSvc.observableItems | async">{{item}}</li>
    </ul>
-->
<!--
  </div>
</div>

<p></p>
-->

<!-- More Observable play -->

<div class="row">
  <div class="col-sm-1">Clusters:</div>
  <div class="col-sm-11">
    <!-- <p>{{(_persistenceSvc.clusterNamesObservable | async)?.val()}}</p> -->
    <ul>
      <!-- When clusterNamesObservable is FromEventPatternObservable<{},{}>, the following fails with "cannot find
        differ supporting object" or some such. -->
      <li *ngFor="let clusterName of (_persistenceSvc.clusterNamesObservable | async)?.val()">{{clusterName}}</li>
    </ul>
  </div>
</div>

<p></p>

<div class="row">
  <div class="col-sm-6">
    <p>You cannot access the database (for saving or saved clusters) unless you are logged in.</p>
  </div>
  <div class="col-sm-1">
    <p><button class="btn btn-default" type="button" (click)="login()">Login</button></p>
  </div>
  <div class="col-sm-5" *ngIf="user">
    <!-- Refreshed as a result of the fact that ClusterPersistenceService.user is a promise. -->
    <p>Currently logged in as {{user.name}} (uid {{user.uid}}).</p> 
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-6">
    <p><button class="btn btn-default" type="button" (click)="logout()">Logout</button></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p>Give the cluster a name and save it.</p>
  </div>
  <div class="col-sm-3">
    <p><input type="text" name="clusterName" [(ngModel)]="clusterName"/></p>
  </div>
  <div class="col-sm-1">
    <p><button class="btn btn-default" type="button" (click)="saveCluster()">Save</button></p>
  </div>
</div>

